* { box-sizing: border-box }
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#buttonS {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
}